@using MvcCv.Models.Entity


<div class="resume-section-content">

    <form method="post">

   <h2 class="mb-5">İletisim</h2>

   <label>Ad Soyad</label>
   <input type="text" class="form-control" name="AdSoyad"/>

   <label>Mail</label>
   <input type="text" class="form-control" />
   <label>Konu</label>
   <input type="text" class="form-control" />
   <label>Mesaj</label>
   <input type="text" class="form-control" />
   <br />
   <button class="btn btn-info">mesaj gönder</button>
    </form>
</div>