@using MvcCv.Models.Entity
@{
    ViewData["Title"] = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Yetenek Ekleme Sayfası</h4>
<br />
<form method="post">


    <label>Yetenek</label>

    <input type="text"  name="Yetenek" class="form-control" placeholder="Yetenek Yazınız" />

    <br />

    <label>Oran</label>

    <input type="text"  name="Oran" class="form-control" placeholder="Oran Yazınız" />

    <br />

   

   

    <button class="btn btn-info">Ekle</button>



</form>