
@{
    ViewData["Title"] = "yenisertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Sertifika Ekleme Sayfası</h4>
<br />
<form method="post">



   

    <label>sertifika Açıklaması</label>

    <input type="text"  name="Aciklama" class="form-control" placeholder="Baslik Yazınız" />

    <br />

    <label>Alt Başlık</label>

    <input type="text"  name="Tarih" class="form-control" placeholder="Alt Baslik Yazınız" />

    <br />


    <button class="btn btn-info">Güncelle</button>



</form>


