
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımda menüsü</h1>
<table class="table table-bordered">
    <tr>  @*tr satırları oluşturuyor*@ 
        <th>ID</th>  @*th ile satırların içine sütünları oluşturuyoruz*@
        <th>Ad</th>
        <th>Şehir</th>
    </tr>

    <tr>
        <td>1</td>
        <td>ali</td>
        <td>kırşehir</td>
    </tr>

    <tr>
        <td>2</td>
        <td>sevgi</td>
        <td>ankara</td>
    </tr>
</table>
